{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block current_user_name %}
{{ current_user.name}}
{% endblock %}

{% block menu %}
{% if current_user.is_admin %}
<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseTwo">
    <i class="fas fa-fw fa-cog"></i>
    <span>User</span>
    </a>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
        <!-- <h6 class="collapse-header">Custom Components:</h6> -->
        <a class="collapse-item" href="/user/create">Add </a>
        <a class="collapse-item" href="/user/list">List</a>
    </div>
    </div>
</li>
{% endif %}
{% endblock %}

{% block body %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>    
</div>

<!-- Content Row -->
<div class="row">
    <p>Welcome to Employee Attendance System</p>
</div>
{% endblock %}
